<section class="welcome-section">
  <h1 class="welcome-section__heading">
    <span class="welcome-section__heading--main">Welcome to Natours</span>
    <span class="welcome-section__heading--sub">where excitement waits for you</span>
  </h1>

  <p class="welcome-section__description">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Aliquam aperiam atque consequuntur cum cumque dolorem earum
    esse impedit itaque, minus modi, neque nobis officiis perspiciatis
    quos sequi temporibus vitae, voluptatem?
  </p>
</section>
