<!--<div class="card__picture" #cardPicture>-->
<!--&nbsp;-->
<!--</div>-->
<div class="card__picture">
  <img [src]="tourCardFrontVM().imageSrc" alt="Tour card image" />
</div>

<h4 class="card__heading">
  <span class="card__heading-span">
    {{ tourCardFrontVM().heading }}
  </span>
</h4>

<ul class="card__details u-center-container">
  <li>{{ tourCardFrontVM().durationInDays}} day tours</li>
  <li>Up to {{ tourCardFrontVM().remainingPlaces }} people</li>
  <li>{{ tourCardFrontVM().stopCount }} stops</li>
  <li>Difficulty: {{ tourCardFrontVM().difficulty }}</li>
  <li>Start date: {{ tourCardFrontVM().startDate | date:"longDate" }}</li>
</ul>
