<h1 class="sign-in__heading u-margin-b-small">Sign in</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit($event)" class="sign-in__form">
  <div>
    <app-data-input formControlName="email" name="email" placeholder="johny@email.com" type="email"
                    class="shadow-outline">
      Email address
    </app-data-input>
    <app-validation-message [control]="form.controls.email" class="validation-message" />
  </div>

  <div class="u-margin-b-small">
    <app-data-input formControlName="password" name="password" placeholder="secret" type="password"
                    class="shadow-outline">
      Password
    </app-data-input>
    <app-validation-message [control]="form.controls.password" class="validation-message" />
  </div>

  <div class="sign-in__buttons">
    <button app-button class="basic green" type="submit">Log in</button>
    <a app-button class="text" href="#">Forgot password?</a>
  </div>

  <p class="sign-in__sign-up-text">
    Don't have an account? Just
    <a app-button class="text sign-in__sign-up-btn" routerLink="/signup">sign up</a>
  </p>
</form>
