.u-center-text {
  text-align: center !important;
}

.u-center-container {
  margin: 0 auto !important;
}

.u-stretch-container {
  max-width: 100% !important;
}

.u-margin-b-huge {
  margin-bottom: 10rem !important;
}

.u-margin-b-big {
  margin-bottom: 8rem !important;
}

.u-margin-b-medium {
  margin-bottom: 4rem !important;
}

.u-margin-b-small {
  margin-bottom: 2rem !important;
}

.u-margin-b-1rem {
  margin-bottom: 1rem !important;
}

.u-margin-t-huge {
  margin-top: 10rem !important;
}

.u-margin-t-big {
  margin-top: 8rem !important;
}

.u-margin-t-medium {
  margin-top: 4rem !important;
}

.u-margin-t-small {
  margin-top: 2rem !important;
}

.u-margin-t-1rem {
  margin-top: 1rem !important;
}

.u-c-huge-gap {
  column-gap: 18rem !important;
}

.u-c-big-gap {
  column-gap: 9rem !important;
}

.u-c-medium-gap {
  column-gap: 6rem !important;
}

.u-c-small-gap {
  column-gap: 3rem !important;
}

.u-c-1rem-gap {
  column-gap: 1rem !important;
}

.u-r-huge-gap {
  row-gap: 18rem !important;
}

.u-r-big-gap {
  row-gap: 9rem !important;
}

.u-r-medium-gap {
  row-gap: 6rem !important;
}

.u-r-small-gap {
  row-gap: 3rem !important;
}

.u-r-1rem-gap {
  row-gap: 1rem !important;
}