<section class="section-about">
  <app-section-heading class="u-center-text u-margin-b-big">
    Exciting tours for adventurous people
  </app-section-heading>

  <div class="about-container u-c-medium-gap u-center-container">
    <div>
      <h3 class="heading-tertiary u-margin-b-small">You're going to fall in love with nature</h3>
      <p class="paragraph">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cum ex, fuga illo maiores maxime natus nisi quam tempora. Ad, assumenda delectus harum ipsa iure iusto nisi recusandae sint ullam.
      </p>

      <h3 class="heading-tertiary u-margin-b-small">Live adventures like you never have before</h3>
      <p class="paragraph">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid aspernatur atque dicta dolore dolorem eum ex impedit, in iste iure perferendis placeat porro praesentium quam qui sequi sit temporibus?
      </p>

      <a href="#" app-button class="text">Learn more &rarr;</a>
    </div>
    <div>
      <div class="composition">
        <img src="img/nat-1-large.jpg" alt="Photo 1" class="composition__photo composition__photo--p1">
        <img src="img/nat-2-large.jpg" alt="Photo 2" class="composition__photo composition__photo--p2">
        <img src="img/nat-3-large.jpg" alt="Photo 3" class="composition__photo composition__photo--p3">
      </div>
    </div>
  </div>
</section>
