<section class="section-reviews">
  <div class="bg-video">
    <video class="bg-video__content" autoplay muted loop>
      <source src="img/video.mp4" type="video/mp4"/>
      <source src="img/video.webm" type="video/webm"/>
      Your browser does not support the video.
    </video>
  </div>
  <app-section-heading class="u-center-text u-margin-b-big">
      We make people genuinely happy
  </app-section-heading>

  <div class="reviews-container u-r-big-gap u-center-container">
    <home-review id="8">
      <span ngProjectAs="username">Marie Smith</span>
      <span ngProjectAs="review-text">
        <h3 class="heading-tertiary u-margin-b-small">
          I had the best week ever with my family
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium blanditiis dignissimos doloremque dolores, enim eum excepturi facilis laudantium nesciunt nihil numquam obcaecati odio officiis pariatur repellendus reprehenderit sequi voluptate.
        </p>
      </span>
    </home-review>

    <home-review id="9">
      <span ngProjectAs="username">Jack Wilson</span>
      <span ngProjectAs="review-text">
        <h3 class="heading-tertiary u-margin-b-small">
          WOW! My life is completely different now
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at delectus deleniti deserunt, doloribus dolorum eligendi, illum laborum laudantium modi nobis officiis pariatur porro quos, repellat repellendus sunt totam vero?
        </p>
      </span>
    </home-review>
  </div>

  <div class="u-center-text u-margin-t-big">
    <a href="#" app-button class="text">Read all stories &rarr;</a>
  </div>
</section>
