@use "abstracts/all" as *;
@use "base/all" as *;
@use "containers/all" as *;

@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@import url("../../../home/public/css/iconFonts/icon-font.css");

.sign-up {
  &__heading {
    text-align: center;
  }

  &__form {
    @extend .flexbox;
    @include flexbox-flow(column, wrap);
  }

  &__buttons {
    & button[type="submit"] {
      width: 15rem;
      margin-right: 2rem;
    }
  }
}

.validation-message {
  margin-left: 1rem;
}
