@use "abstracts/all" as *;
@use "base/all" as *;
@use "containers/all" as *;

@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

.sign-up {
  &__heading {
    text-align: center;
  }

  &__form {
    @extend .flexbox;
    @include flexbox-flow(column, wrap);
  }

  &__buttons {
    & button[type="submit"] {
      width: 15rem;
      margin-right: 2rem;
    }
  }
}

.validation-message {
  margin-left: 1rem;
}

.loading-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  border-radius: 1rem;
  background-color: rgba($color-grey-dark-2, 0.3);
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;
}
