<section class="section-features">
  <div class="feature-box__container u-c-medium-gap u-center-container">
    <home-feature-box>
      <i class="icon-basic-world feature-box__icon" ngProjectAs="icon"></i>
      <h3 class="heading-tertiary u-margin-b-small" ngProjectAs="heading">Explore the world</h3>
      <p class="feature-box__text" ngProjectAs="text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus at atque dolore dolores.
      </p>
    </home-feature-box>

    <home-feature-box>
      <i class="icon-basic-compass feature-box__icon" ngProjectAs="icon"></i>
      <h3 class="heading-tertiary u-margin-b-small" ngProjectAs="heading">Meet nature</h3>
      <p class="feature-box__text" ngProjectAs="text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto aspernatur.
      </p>
    </home-feature-box>

    <home-feature-box>
      <i class="icon-basic-map feature-box__icon" ngProjectAs="icon"></i>
      <h3 class="heading-tertiary u-margin-b-small" ngProjectAs="heading">Find your way</h3>
      <p class="feature-box__text" ngProjectAs="text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto commodi dicta
        doloribus.
      </p>
    </home-feature-box>

    <home-feature-box>
      <i class="icon-basic-heart feature-box__icon" ngProjectAs="icon"></i>
      <h3 class="heading-tertiary u-margin-b-small" ngProjectAs="heading">Live a healthier life</h3>
      <p class="feature-box__text" ngProjectAs="text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam doloremque eos ipsa.
      </p>
    </home-feature-box>
  </div>
</section>
