@use "abstracts/all" as *;

:host {
  display: block;
}

.review {
  width: 75%;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.6);
  border-radius: 3px;
  padding: 6rem 6rem 6rem 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50%);

    clip-path: circle(50%);
    transform: translateX(-3rem) skewX(12deg);

    position: relative;
  }

  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    @include smooth-transition;
  }

  &__text {

  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    @include smooth-transition;
  }

  & > *:not(.review__shape) {
    transform: skewX(12deg);
  }

  &:hover {
    .review__caption {
      opacity: 1;
      transform: translate(-50%, -50%);
    }

    .review__img {
      transform: translateX(-4rem) scale(1);
      filter: blur(3px) brightness(80%);
    }
  }
}
