<h1 class="sign-up__heading u-margin-b-small">Confirmation</h1>
<p class="u-margin-b-1rem">Confirmation code was sent to your email address.</p>
<form [formGroup]="form" (ngSubmit)="onSubmit($event)" class="sign-up__form">
  <div>
    <app-data-input formControlName="code" name="code" type="text"
                    class="shadow-outline show-validation-outline">
      Code
    </app-data-input>
    <app-validation-message [control]="form.controls.code" class="validation-message" />
  </div>

  <div class="sign-up__buttons">
    <button app-button class="basic green" type="submit">Confirm</button>
  </div>
</form>
